body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS2HSXscwF9v4neueYQC2ezfBOWgsy-NtSNnA&usqp=CAU);
}

header {
    background-color: white;
}

.trip-cost-info {
    width: fit-content;
    text-align: center;
    position: absolute;
    left: 30%;
    padding: 50px;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
}